html, body {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font: bold 14px "PT Sans Narrow", sans-serif;
	background: #fff url("img/bg__pattern.png") repeat;
	color: #000;
}

.clearfix {
	clear: both;	
}

.btn {
	display: block;
	width: 140px;
	height: 44px;
	margin: 0 auto;
	line-height: 44px;
	text-align: center;
	text-decoration: none;
}

.layout-center-wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

.main-header {
	margin: 0;
	padding-top: 1px;
	font-size: 16px;
	background: #000;
}

	.menu {
		float: left;
	}

		.menu__list {
			margin: 0;
			padding: 0;
			list-style: none;
			text-align: left;
		}

			.menu__list li {
				display: inline-block;
				margin: 0;
				vertical-align: top;
			}

				.menu__link {
					display: block;
					margin: 0 0 0 43px;
					padding-top: 25px;
					text-decoration: none;
					color: #fff;
				}

					.menu__link_current, .menu__link:hover {
						padding-bottom: 21px;
						border-bottom: 5px solid #fff;
					}

				.menu__list li:first-child .menu__link {
					margin-left: 30px;
				}

	.account {
		float: right;
		margin: 0;
		padding: 0;
	}

		.account__link {
			display: inline-block;
			margin-right: 10px;
			padding: 25px 0 0 32px;
			text-decoration: none;
			vertical-align: top;
			background: #000 url("img/icon__cart.png") no-repeat 0 27px;
			color: #fff;
		}

		.account__link:hover {
			background: #000 url("img/icon__cart_active.png") no-repeat 0 27px;
		}

	.main-header .layout-center-wrapper:after {
		content: "";
		display: table;
		clear: both;
	}

.pricelist-header {
	margin-top: 45px;
}

	.breadcrumbs {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: left;
	}

		.breadcrumbs li {
			display: inline-block;
			padding: 0 26px 0 13px; 
			vertical-align: top;
			background: url("img/icon__diamond_small.png") no-repeat 100% 50%;
		}

		.breadcrumbs li:first-child {
			padding-left: 0;
		}

		.breadcrumbs li:last-child {
			padding-right: 0;
			background: none;
		}

			.breadcrumbs__link {
				display: block;
				text-decoration: none;
				color: #000;
			}

.slogan {
	margin-top: 45px;
	padding: 0;
	text-align: left;
	font-size: 48px;
	line-height: 48px;
}

	.slogan:before, .slogan:after {
		content:"";
		display: inline-block;
		width: 160px;
		line-height: 48px;
		vertical-align: middle;
		border-bottom: 2px solid #000;
	}

	.slogan:before {
		margin: 0 22px 0 0;
	}

	.slogan:after {
		margin: 0 0 0 22px;
	}

.layout-vertical-wrapper {
	padding: 75px 0 75px 0;
}

	.article {
		width: 50%;	
	}

	.article_left {
		float: left;
	}

	.article_right {
		float: right;
	}

		.article__title {
			margin: 0;
			font-size: 24px;
		}

		.article__list {
			margin-top: 30px;
			list-style-image: url("img/icon__diamond_small.png");
		}

			.article__item {
				margin: 20px 0;
			}

		.article__table {
			margin-top: 33px;
			border-collapse: collapse;
			border: 2px solid #000;
		}

			.article__table-item {
				width: 205px;
				padding-left: 20px;
				border: 2px solid #000;
			}

			.article__table-price {
				width: 225px;
				height: 38px;
				text-align: center;
				border: 2px solid #000;
			}

		.article__text {
			padding-right: 100px;
			line-height: 25px;
		}

		.article__text_end {
			margin-bottom: 70px;
			padding-top: 30px;
		}

.page-header {
	margin-top: 55px;
}

.layout-left-column {
	float: left;
	width: 240px;
	margin-top: 55px;
}

.layout-right-column {
	float: right;
	width: 720px;
	margin-top: 55px;
}

.option {
	margin: 0;
	padding: 0;
}

	.option__title {
		margin-top: 0;
		font-size: 24px;
	}

		.option__checkboxes fieldset {
			border: none;
		}
	
	input[type="checkbox"] {
		display: none;
	}

	.option__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

		.option__radio {
			width: 220px;
			margin: 10px 0 10px 10px;
			background: #000;
			color: #fff;
		}

		.option__radio_current {
			background: #fff;
			color: #000;
		}

.product {
	display: inline-block;
	width: 200px;
	margin-right: 20px;
	padding: 10px;
	vertical-align: top;
	background: #fff;
}

	.product a {
		display: block;
		text-decoration: none;
		color: #000;
	}

		.product__price {
			width: 188px;
			margin: 20px 0 0 0;
			background: #e5e5e5;
		}

.pager {
	margin-left: 10px;
}

	.pager__link {
		display: inline-block;
		width: 44px;
		height: 44px;
		margin-left: 4px;
		padding: 0;
		vertical-align: top;
		text-align: center;
		background: #000;
		color: #fff;
	}

	.pager__link_current {
		height: 40px;
		border-bottom: 4px solid #000;
		background: #fff;
		color: #000;
	}

.main-footer {
	padding: 62px 0 60px 0;
	background: #000;
	color: #fff;
}

.main-footer:after {
	content:"";
	display: table;
	clear: both;
}

	.contacts {
		float: left;
		width: 312px;
	}

		.contacts__head {
			margin: 0 0 5px 0;
		}

		.contacts__info {
			font-style: normal;
		}

			.contacts__info span {
				display: inline-block;
				margin: 5px 0;
				vertical-align: top;
			}

	.social {
		float: left;
		width: 312px;
		text-align: center;
	}

		.social__head {
			margin: 0 0 10px 0;
			text-align: center;
		}

		.social .btn {
			display: inline-block;
			vertical-align: top;
			width: 44px;
			margin-right: 4px;
		}

		.social__btn_vk {
			background: url("img/icon__social.png") no-repeat 0 100%;
		}

		.social__btn_vk:hover {
			background: url("img/icon__social.png") no-repeat 0 0;
		}

		.social__btn_fb {
			background: url("img/icon__social.png") no-repeat 50% 100%;
		}

		.social__btn_fb:hover {
			background: url("img/icon__social.png") no-repeat 50% 0;
		}

		.social__btn_ig {
			margin-right: 0;
			background: url("img/icon__social.png") no-repeat 100% 100%;	
		}
		
		.social__btn_ig:hover {
			background: url("img/icon__social.png") no-repeat 100% 0%;
		}

	.copyright {
		float: right;
		width: 312px;
		text-align: center;
	}

		.copyright__head {
			display: block;
			margin: 0 0 10px 0;
			text-align: center;
		}

		.copyright__btn {
			background: #000;
			color: #fff;
		}

		.copyright__btn:hover {
			background: #fff;
			color: #000;
		}