.form {
    &__group {
        @include fieldset;
    }

    &__field {
        width: 140px;
        height: 40px;
        padding: 0 10px;
        border: 2px solid #000;
        text-transform: uppercase;
        font: bold 14px "PT Sans Narrow", sans-serif;

        &::placeholder {
            color: #000;
        }
    }
}
