.contacts-section {
     max-width: 330px;

    &__title {
        font:  $font-base;
        margin: 0;
    }

    &__list {
        @include no-list;
        margin-bottom: 28px;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    &__btns {
        display: flex;
    }

    &__btn {
        margin-right: 20px;
    }
}
