.footer {
    padding: 62px 0 60px;
    background: #232323 url("/img/bg-footer.png");
    color: #fff;

    &__container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 900px) {
            align-items: center;
            flex-direction: column;
        }
    }

    &__contacts-section {
        text-align: center;
    }
}
