.gallery-section {
    max-width: 298px;

    @media (max-width: 900px) {
        max-width: 480px;
    }

    &__slider {
        margin: 0 auto;
        text-align: center;

        img {
            height: 100%;
            width: auto;
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__btn {
        max-width: 136px;

        @media (max-width: 480px) {
            width: 48%;
        }
    }
}
