.nav {
    &__list {
        @include no-list;
        display: flex;

        @media (max-width: 720px) {
            display: none;
        }

        li {
            margin-right: 27px;
        }
    }

    &__link {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 27px 0;
        box-shadow: 0 4px 0 0 rgba(#fff, 0);
        transition: box-shadow 0.25s ease-out 0s;

        &:hover {
            box-shadow: 0 4px 0 0 rgba(#fff, 1);
        }

        &--active {
            box-shadow: 0 4px 0 0 rgba(#fff, 1);
            cursor: default;
        }
    }
}
