.news-section {
    margin-right: 60px;

    &__list {
        li {
            margin: 28px 0;
        }
    }

    &__title {
        display: block;
        text-decoration: none;
        color: #000;
    }

    time {
        display: block;
        font: 400 14px $font-family-base;
        text-transform: none;
    }
}
