*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    text-size-adjust: 100%;
    margin: 0;
}

body {
    font: $font-base;
    color: #000;
    margin: 0;
    text-transform: uppercase;
}


.wrapper {
    background: rgba(#000, 0.8) url("/img/bg-main.jpg") no-repeat 50% 0;
    background-size: cover;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    max-width: 940px;
    padding: 0 20px;
    width: 100%;
}

.section-wrapper {
    background: #fff url("/img/bg-section.png");
    display: flex;
    margin: 30px auto;
    position: relative;

    &::after {
        content: "";
        background: url("/img/border-section.png") 50% 50% no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 80%;
        width: 8px;
    }

    &__col {
        padding: 50px 0;
        width: 50%;

        &--left {
            padding-right: 60px;
            padding-left: 80px;
        }

        &--right {
            padding-right: 80px;
            padding-left: 60px;
        }
    }


}
