$font-stack-sans-serif: "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack-serif: Georgia, Times, "Times New Roman", serif;

$font-family-base: 800 40px $font-stack-serif;

$font-base: $font-family-base;
